/* SECCION HERO */
@keyframes move {
  0% {
    transform: translateY(10%);
    animation-timing-function: ease-in;
  }
  25% {
    transform: translateY(2%);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-5%);
    animation-timing-function: ease-in;
  }
  75% {
    transform: translateY(0%);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(10%);
  }
}
h3 {
  font-size: clamp(1.8rem, 2.4vw, 2.8rem);
}
.hero {
  height: 95vh;
  text-align: center;
}
.hero__bg {
  height: 100%;
  background-image: url(/assets/images/banner-sm.webp);
  background-position: top;
}
@media (min-width: 768px) {
  .hero__bg {
    background-image: url(/assets/images/banner.webp);
  }
}
.hero__bg::after {
  background: rgba(0, 0, 0, 0.75);
}
.hero__contenido {
  z-index: 2;
  flex-grow: 1;
  display: grid;
  grid-template-rows: 1fr 5fr 3fr 1fr;
  margin-top: 0;
}
.hero__texto {
  grid-row-start: 2;
  align-self: center;
}
.hero__texto p {
  font-family: var(--fuenteHeading);
  color: var(--beige);
  letter-spacing: 1px;
  font-style: italic;
  font-size: clamp(1.6rem, 1.8vw, 2.4rem);
  opacity: 0.8;
}
.hero__nav {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  grid-row-start: 3;
  gap: 2rem;
  padding: 2rem;
}
.hero__btn {
  display: flex;
  justify-content: center;
  align-items: end;
  grid-row-start: 4;
  line-height: 0;
}
.hero__btn--animado {
  display: flex;
  justify-content: center;
  transform: translateY(10%);
  animation: move 2s ease infinite;
  flex-direction: column;
  align-items: center;
}
.hero__btn--animado p {
  font-size: clamp(1.2rem, 1.4vw, 1.6rem);
  color: var(--beige);
}
@media (min-width: 768px) {
  .hero__contenido {
    grid-template-rows: 1fr 4fr 2fr 1fr;
  }
  .hero__nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
    padding: 0;
  }
}

/* NOSOTROS */
.nosotros {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.nosotros h2 {
  letter-spacing: 2px;
}
.nosotros__texto {
  padding: 0;
  font-weight: 400;
}

.nosotros__texto--destacado {
  font-family: var(--fuenteHeading);
  opacity: 0.8;
  display: inline-block;
  margin-bottom: 1.5rem;
  padding: 1rem 0rem 1rem 2rem;
}
.nosotros__imagenes {
  display: grid;
  gap: 0.4rem;
  grid-template-columns: 1fr;
}
.nosotros__imagenes--img {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.nosotros__imagenes--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}
.nosotros__imagenes--img:hover img {
  transform: scale(1.05);
}

@media (min-width: 576px) {
  .nosotros__imagenes {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .nosotros__imagenes--img:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .nosotros__imagenes--img:last-child {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}

@media (min-width: 768px) {
  .nosotros {
    flex-direction: row;
  }
  .nosotros__texto {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }
  .nosotros__imagenes--img {
    aspect-ratio: 1 / 1;
  }
  .nosotros__imagenes {
    width: 60%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }

  .nosotros__imagenes--img:first-child {
    grid-column: 1 / 3;
  }
  .nosotros__imagenes--img:last-child {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

@media (min-width: 1200px) {
  .nosotros__imagenes {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .nosotros__imagenes--img {
    aspect-ratio: unset;
  }

  .nosotros__imagenes--img:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .nosotros__imagenes--img:last-child {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}

/* CAROUSEL */
.carousel {
  background-color: var(--negro);
  margin: 6rem 0;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
}
.carousel__btn {
  flex-direction: row;
  z-index: 2;
  position: absolute;
}
.carousel__btn a {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
  align-items: center;
}

.carousel__btn svg {
  height: 3.2rem;
  width: 3.2rem;
}
/* carousel contenido */
.carousel__contenido {
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 100%;
  z-index: 0;
}

.carousel__elemento {
  flex: 0 0 auto;
  max-height: 40rem;
  max-width: 40rem;
  overflow: hidden;
}

.carousel__elemento--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* MARIDAJE */
.maridaje__title {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 2rem;
  line-height: normal;
  color: var(--beige);
}
.maridaje__title::before,
.maridaje__title::after {
  content: "";
  flex: 1;
  border-bottom: 3px solid var(--logo);
}

.maridaje__intro {
  color: var(--beige);
  text-align: center;
  opacity: 0.8;
  max-width: 800px;
  margin: 1.5rem auto 4rem auto;
  font-style: italic;
}
.maridaje__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.maridaje__item {
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}
.maridaje__item--imagen {
  margin: 0 auto;
}

.maridaje__item--imagen img {
  max-width: 300px;
  object-fit: cover;
  display: block;
  aspect-ratio: 1/1;
  filter: grayscale(10%) contrast(1.1);
}

.maridaje__item--texto {
  margin: 0 auto;
  max-width: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.maridaje__item--texto h3 {
  font-size: 2.2rem;
  color: var(--logo);
  margin-bottom: 0.8rem;
  font-weight: 700;
}

.maridaje__item--texto p {
  opacity: 0.9;
}

@media (min-width: 1200px) {
  .maridaje__content {
    gap: 0;
    justify-content: space-evenly;
  }
}

/* CONTACTO */
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.contacto h2 {
  color: var(--blanco);
}
.informacion__contacto {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.informacion__contacto--direccion a {
  font-family: var(--fuenteParrafos);
  font-size: clamp(1.6rem, 1.8vw, 2rem);
  color: var(--blanco);
}

.icono-contacto {
  width: 3rem;
  height: 3rem;
  color: var(--blanco);
  margin-right: 2rem;
  vertical-align: middle;
}

.informacion__contacto--direccion p {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--blanco);
  margin: 1rem 0;
  font-family: var(--fuenteParrafos);
  font-size: clamp(1.6rem, 1.8vw, 2rem);
}

.informacion__contacto--direccion p svg {
  color: var(--blanco);
  width: 2.2rem;
  height: 2.2rem;
}

.informacion__contacto--redes {
  display: flex;
  justify-content: left;
  gap: 2rem;
}
.informacion__contacto--redes a {
  display: flex;
  transition: 0.5s ease-in-out;
}
.informacion__contacto--redes a svg {
  color: var(--blanco);
  width: 4rem;
  height: 4rem;
}
.informacion__contacto--redes a:hover {
  transform: translateY(5%);
}

/* contacto reservas */
.informacion__contacto--reservas {
  padding: 1rem 0;
  display: flex;
  justify-content: left;
}
/* mapa contacto */
.mapa__contacto {
  position: relative;
  margin: auto;
  overflow: hidden;
  display: flex;
  width: 100%;
}
.mapa__contacto iframe {
  max-height: 35rem;
  width: 100%;
  border: none;
  filter: grayscale(30%);
}
@media (min-width: 768px) {
  .contacto {
    flex-direction: row;
  }
  .mapa__contacto iframe {
    max-height: 60rem;
  }
}
