@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/OpenSans-Light.ttf") format("truetype");
}
:root {
  --fuenteSeccion: OpenSans;
}
h2 {
  color: var(--beige);
}

h3 {
  font-size: clamp(3rem, 4.5vw, 5.2rem);
}
h4 {
  font-size: clamp(1.8rem, 2.5vw, 3rem);
}

.title-decoration2 h3 {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title-decoration2 h3::before,
.title-decoration2 h3::after {
  content: "";
  flex: 1;
  border-bottom: 3px solid var(--logo);
}

.hero {
  height: 85vh;
}

.hero__bg {
  height: 100%;
  background-position: bottom;
  background-image: url(/assets/images/restaurante-sm.webp);
}

@media (min-width: 768px) {
  .hero__bg {
    background-image: url(/assets/images/restaurante.webp);
  }
}

.hero__bg::after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, #101213 100%);
}

.hero__contenido h2 {
  font-family: OpenSans;
  font-weight: 300;
}
.hero__contenido p {
  opacity: 0.7;
}

.titulo {
  font-family: var(--fuenteSeccion);
  line-height: 1.2;
  margin-bottom: 3rem;
}

.titulo--normal {
  color: var(--beige);
  font-weight: 300;
  font-size: smaller;
  display: block;
}

.titulo--destacado {
  margin-bottom: 3rem;
  font-weight: 600;
  color: var(--logo);
}

/* MENU SECTION */
.menu {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  margin-top: 0;
}

.menu__contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}

.menu__contenido--estilo {
  font-family: var(--fuenteHeading);
  letter-spacing: 1px;
  font-style: italic;
  opacity: 0.8;
  color: var(--beige);
  display: inline-block;
  margin-bottom: 3rem;
}
.menu__img {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__img--contenedor {
  max-width: 90%;
  padding: 0;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  padding: 1rem;
  transition: 0.5s ease all;
}

.menu__img img {
  width: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}

.menu__img--contenedor:hover {
  transform: scale(1.05);
}

.menu__enlaces {
  display: flex;
}

@media (min-width: 768px) {
  .menu {
    flex-direction: row;
    border-left: 3px solid var(--secundario);
    padding: 4rem 0 4rem 4rem;
    max-height: 600px;
    justify-content: center;
    align-items: center;
  }

  .menu__enlaces {
    justify-content: left;
  }

  .menu__contenido {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 55%;
    padding-bottom: 0;
    flex-grow: 1;
  }

  /* menu imagen */
  .menu__img {
    width: 45%;
    flex-grow: 1;
    grid-area: img;
  }

  .menu__img--contenedor {
    max-width: 85%;
  }

  .menu__enlaces {
    margin-top: 2rem;
    gap: 2rem;
  }
}

@media (min-width: 1200px) {
  .menu__contenido {
    width: 45%;
  }

  .menu__img {
    width: 55%;
  }

  .menu__img--contenedor {
    max-width: 80%;
  }
}

/* RESERVACION */
.reservacion {
  margin-top: clamp(6rem, 8vw, 10rem);
  padding: 4rem 0rem;
  background-color: var(--secundarioOscuro);
}

.reservacion__contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  text-align: center;
  margin-top: 0;
}

.reservacion__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.reservacion__texto h3 {
  margin-bottom: 1rem;
}

.reservacion__info {
  color: var(--beige);
  max-width: 800px;
}

.reservacion__btn {
  display: flex;
}

.reservacion__horario {
  width: 100%;
  margin: 0 auto;
}

.reservacion__horario h4 {
  color: var(--logo);
  text-align: center;
  font-size: 2.4rem;
}

.reservacion__horario table {
  width: auto;
  margin: 0 auto;
  border-collapse: collapse;
}

.reservacion__horario td {
  color: var(--blanco);
  opacity: 0.7;
  padding: 0.7rem 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  text-align: left;
}

.reservacion__horario td:first-child {
  opacity: 1;
  width: 40%;
}

@media (min-width: 768px) {
  .reservacion__contenido {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .reservacion__texto {
    width: 50%;
    align-items: flex-start;
  }

  .reservacion__horario {
    width: 50%;
    margin: 0 a;
  }

  .reservacion__btn {
    align-self: flex-start;
  }
}
@media (min-width: 1200px) {
  .reservacion__texto {
    width: 60%;
  }

  .reservacion__horario {
    width: 40%;
  }
  .reservacion__horario td {
    padding: 0.7rem 4rem;
  }
}
/* PLATILLOS DESTACADOS */
.destacados {
  display: flex;
  flex-direction: column;
}

.destacados__titulo h3 {
  font-family: var(--fuenteHeading);
  font-weight: 300;
  margin-bottom: 3rem;
  color: var(--beige);
}
.destacados__texto {
  text-align: center;
}

.destacados__texto p {
  color: var(--blanco);
  opacity: 0.8;
}

.destacados__contenido {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3px;
  position: relative;
  padding: 2rem 0;
}

.destacados__elemento {
  position: relative;
  overflow: hidden;
  font-family: var(--fuenteParrafo);
}

.destacados__elemento img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.destacados__elemento:hover img {
  transform: scale(1.1);
}

@media (min-width: 576px) {
  .destacados__contenido {
    grid-template-columns: repeat(6, 1fr);
  }
  .destacados__elemento:first-child {
    grid-column: 1/7;
    grid-row: 1/3;
  }
  .destacados__elemento:nth-child(2) {
    grid-column: 1/4;
    grid-row: 3/5;
  }
  .destacados__elemento:nth-child(3) {
    grid-column: 4/7;
    grid-row: 3/5;
  }
  .destacados__elemento:last-child {
    grid-column: 1/7;
    grid-row: 5/7;
  }
  .destacados__elemento:nth-child(4) {
    grid-column: 1/4;
    grid-row: 7/9;
  }
  .destacados__elemento:nth-child(5) {
    grid-column: 4/7;
    grid-row: 7/9;
  }
}

@media (min-width: 768px) {
  .destacados__contenido {
    grid-template-columns: repeat(12, 1fr);
  }
  .destacados__elemento:first-child {
    grid-column: 1/7;
    grid-row: 1/4;
  }
  .destacados__elemento:nth-child(2) {
    grid-column: 7/10;
    grid-row: 1/4;
  }
  .destacados__elemento:nth-child(3) {
    grid-column: 10/13;
    grid-row: 1/4;
  }
  .destacados__elemento:nth-child(4) {
    grid-column: 1/4;
    grid-row: 4/7;
  }
  .destacados__elemento:nth-child(5) {
    grid-column: 4/7;
    grid-row: 4/7;
  }
  .destacados__elemento:last-child {
    grid-column: 7/13;
    grid-row: 4/7;
  }
}

/* PIZZAS */
.pizzas {
  background-color: var(--secundarioOscuro);
  padding: 4em 0 0 0;
  margin-top: 6rem;
  display: flex;
  overflow: hidden;
}

.pizzas__contenido {
  gap: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pizzas__contenedor {
  width: 90%;
  padding: 2rem 1rem 1rem 1rem;
}

.pizzas__texto p {
  color: var(--blanco);
}

.pizzas__texto--destacado {
  font-family: var(--fuenteHeading);
  letter-spacing: 1px;
  opacity: 0.8;
  color: var(--beige);
}
.pizzas__media {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.pizzas__media--columna {
  display: flex;
  flex-direction: column;
}

.pizzas__item {
  flex: 1;
  overflow: hidden;
}

.pizzas__item img:hover {
  scale: 1.1;
}
.pizzas__item picture,
.pizzas__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 576px) {
  .pizzas__media {
    flex-direction: row;
  }
  .pizzas__media--columna {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .pizzas {
    padding: 0;
    max-height: 800px;
    flex-direction: row;
    justify-content: center;
  }
  .pizzas__contenido {
    gap: 4rem;
    max-width: 1200px;
    flex-direction: row;
    border-left: 3px solid var(--logo);
  }
  .pizzas__contenedor {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0 4rem 4rem;
  }
  .pizzas__media {
    width: 60%;
  }
}
